form {
  width:500px;
  text-align: center;
  display:block;
  margin: 0 auto;
}
.jumbotron {
  text-align: center;
  background-image: url("https://www.wallpaperink.co.uk/gallery/shutterstock/world-maps/maps_11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:gray;
  font-family: 'Oswald', sans-serif;
  border: 2px solid white;
}
h2 {
  text-align:center;
}

ul {
  list-style-type: none;
}

#details {
  display: none;
  background-color: rgb(250, 255, 189);
  padding: 3px;
}

#placesList {
  display: none;
}

.place {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(250, 255, 189);
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  background-color:#939969;
  color: #585858;
}

.btn {
  margin-bottom: 4rem;
}
